/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background: rgba(213, 246, 240, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(213, 246, 240, 1) 0%,
    rgba(230, 230, 230, 1) 33%,
    rgba(240, 240, 240, 1) 66%,
    rgba(245, 245, 245, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(213, 246, 240, 1)),
    color-stop(33%, rgba(230, 230, 230, 1)),
    color-stop(66%, rgba(240, 240, 240, 1)),
    color-stop(100%, rgba(245, 245, 245, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(213, 246, 240, 1) 0%,
    rgba(230, 230, 230, 1) 33%,
    rgba(240, 240, 240, 1) 66%,
    rgba(245, 245, 245, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(213, 246, 240, 1) 0%,
    rgba(230, 230, 230, 1) 33%,
    rgba(240, 240, 240, 1) 66%,
    rgba(245, 245, 245, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(213, 246, 240, 1) 0%,
    rgba(230, 230, 230, 1) 33%,
    rgba(240, 240, 240, 1) 66%,
    rgba(245, 245, 245, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(213, 246, 240, 1) 0%,
    rgba(230, 230, 230, 1) 33%,
    rgba(240, 240, 240, 1) 66%,
    rgba(245, 245, 245, 1) 100%
  );
  color: rgba(30, 30, 30, 1);
  font-family: "Trebuchet MS", "Ubuntu";
  background-attachment: fixed;
}

.homeContainer {
  width: 100%;
  height: 100vh;
}

.homeContainer::after {
  content:'';
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  top:0px;

}

.simpleNavigation {
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 10px;
  color: rgba(30, 30, 30, 0.5);
}

.simpleNavigation a {
  text-decoration: none;
  border-bottom: 1px solid rgba(30, 30, 30, 0.5);
  color: rgba(30, 30, 30, 0.5);
}

.leafletMarker {
  background-color: rgba(0, 245, 220, 0.69);
  width: 3rem;
  height: 3rem;
  display: block;
  left: -1.5rem;
  top: -1.5rem;
  position: relative;
  border-radius: 3rem 3rem 0;
  transform: rotate(45deg);
  border: 1px solid #ffffff;
}

.searchError {
  position: absolute;
  width: 100%;
  padding-bottom: 3px;
  background-color: maroon;
  color: white;
  text-align: center;
}

.pdfLoader {
  background-color: green;
  color: white;
  width: 8rem;
  margin: auto;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

/* loading dots */

.pdfLoader:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

.pdfLoadError {
  text-align: center;
  background-color: maroon;
  color: white;
}

/* iframe styling */
.iframe-container {
  overflow: hidden;
  position: relative;
  height: calc(100vh - 130px);
  margin-top: 80px;
  margin-bottom: 50px;
}

.iframe-container iframe {
  border: 0;
  height: calc(100vh - 150px);
  -webkit-box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.2);
  width: 90%;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
}

.aboutContainer {
  width: 500px;
  margin-left: calc(50% - 250px);
  margin-right: calc(50% - 250px);
  margin-top: 50px;
}

.aboutContainer h3 {
  font-size: 200%;
  margin-bottom: 10px;
  text-align: center;
}

.aboutContainer .router {
  margin-top: 10px;
  text-align: center;
}

.labsContainer {
  top: 5px;
  position: absolute;
  left: 5px;
}

.labsContainer a {
  text-transform: uppercase;
  font-size: 80%;
  color: rgba(30, 30, 30, 0.5);
  text-decoration: none;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}

.thumbnailImage {
  background-repeat: no-repeat;
	width: 100%;
	background-position: right;
	background-size: auto 100%;
	margin-top: 0px !important;
  height: 100%;
  margin-left: -30%;
}