.searchbox {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  min-width: 200px;
  padding-top: 250px;
  -webkit-transition: all 500ms ease-out 0s;
  -moz-transition: all 500ms ease-out 0s;
  -o-transition: all 500ms ease-out 0s;
  transition: all 500ms ease-out 0s;
}

.searchbox form input {
  width: calc(100%);
  height: 70px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0px solid grey;
  border-radius: 90px;
  padding: 15px 15px 15px 25px;
  font-size: 130%;
  background-color: rgba(30, 30, 30, 0.3);
  color: white;
  -webkit-box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.3);
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}

.searchbox form .submitButton {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(30, 30, 30, 0.5);
  border: 2px solid white;
  border-radius: 90px;
  color: white;
  height: 60px;
  width: 60px;
  margin-left: -65px;
  position: absolute;
  top: 255px;
}

.searchbox form .submitButton::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  top: 33px;
  left: 28px;
  background-color: rgba(255, 255, 255, 1);
  transform: rotate(45deg);
}

.searchbox form .submitButton::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid #ffffff;
  border-radius: 90px;
  top: 13px;
  left: 16px;
  background-color: rgba(255, 255, 255, 0.1);
  transform: rotate(45deg);
}

.searchbox form .resetButton {
  -webkit-box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  width: 35px;
  height: 35px;
  position: absolute;
  margin-top: 14px;
  margin-left: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(30, 30, 30, 0.5);
  border: 2px solid white;
  border-radius: 90px;
  color: white;
}

.searchbox form .resetButton::before {
  content: "";
  position: relative;
  display: block;
  height: 20px;
  width: 3px;
  background-color: white;
  transform: rotate(45deg);
  left: 8px;
  top: 4px;
}

.searchbox form .resetButton::after {
  content: "";
  display: block;
  position: relative;
  height: 20px;
  width: 3px;
  background-color: white;
  transform: rotate(-45deg);
  top: -16px;
  left: 8px;
}

.searchbox.notFrontpage {
  padding-top: 1em;
}

.searchbox.notFrontpage form button {
  position: absolute;
  top: 21px;
}

.searchResults {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.searchResult {
  padding-top: 1px;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: rgba(255, 255, 255, 0.3);
  //padding: 1em;
  -webkit-box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.2);
}

.searchResult a {
  text-decoration: none;
  color: rgba(30, 30, 30, 0.5);
  text-transform: uppercase;
}

.overallInfo {
  padding-left: 1em;
  padding-top: 1em;
  width: calc(50% - 1em);
  float: left;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.mapContainer {
  margin: 0px !important;
  padding: 0px !important;
  width: 50%;
  float: right;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
}

.mapContainer:after {
  z-index: 1000;
  display: block;
  height: 150%;
  top: -25%;
  left: -110px;
  transform: rotateZ(-17deg);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 150px;
  content: "";
  background-color: rgba(233, 233, 233, 1);
  -webkit-box-shadow: 0px 26px 22px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 26px 22px 5px rgba(0, 0, 0, 0.2);
}

.searchResult div {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.title {
  color: rgb(30, 30, 30, 1);
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 0.5em;
}

.snippet {
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(150, 150, 150, 0.1);
  border-left: 5px solid rgba(30, 30, 30, 0.2);
}

.snippet .chapterTitle,
.snippet .pageTitle {
  text-transform: uppercase;
  font-size: 80%;
  color: rgba(30, 30, 30, 0.5);
  margin-right: 5px;
  display: inline-block;
}

.snippet .pageNumber,
.snippet .chapterName {
  margin-right: 5px;
  display: inline-block;
  font-size: 80%;
  text-transform: uppercase;
}

.snippet ul {
  list-style-type: none;
  padding-left: 5px;
  padding-bottom: 5px;
}

.snippet a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  background-color: rgba(30, 30, 30, 0.5);
  padding: 5px;
  padding-right: 10px;
  border: 1px solid white;
  font-size: 80%;
}

.snippet a span {
  display: inline-block;
  color: rgba(0, 245, 220, 0.69);
  height: 100%;
  width: 20px;
  margin-right: -5px;
}

.matches .numbersFound,
.headline .numbersFound {
  font-weight: bold;
  color: rgba(30, 30, 30, 0.7);
}

.matches {
  margin-left: 1em;
  display: block !important;
  color: rgba(30, 30, 30, 0.5);
  text-transform: uppercase;
  font-size: 80%;
  margin-top: 20px !important;
}

.highlightText {
  //color: rgba(30, 30, 30, 0.5);
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 245, 220, 0.69);
}
.headline {
  text-transform: uppercase;
  color: rgba(30, 30, 30, 0.5);
}

.renderedSnippet {
  display: block !important;
  font-style: italic;
}

.renderedSnippet ul li {
  display: inline-block;
}

.renderedSnippet ul::before {
  content: "“";
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
}

.renderedSnippet ul::after {
  content: "”";
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

.renderedSnippet .empty {
  display: none;
}

.authorContainer {
  display: block !important;
}
/*PDF handling */

.pdf-preview {
  width: 154px;
  height: 212px;
  display: block;
  margin: 5em 0 0 0;
}

.pdfPreviewPane {
  float: left;
  width: 200px;
  height: 100vh;
  overflow-y: scroll;
}

.pdfDocumentView .pdf-document {
  width: 70% !important;
  height: auto !important;
  margin-left: 15%;
}

.pdf-document {
  position: relative !important;
}

.pdfDocumentView canvas {
  width: 100% !important;
  height: auto !important;
}

.pdfDocumentView {
  width: calc(100% - 200px);
  margin-left: 100px;
  margin-bottom: 50px;
}

.pdfMetadata {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.pdfMetadata div {
  margin-top: 5px;
}

.pdfMetadata div span:first-child {
  text-transform: uppercase;
  color: rgba(30, 30, 30, 0.5);
  margin-right: 10px;
}

.facet {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  //flex: 1;
}

.facets {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1em;
  display: flex;
  -webkit-box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.1);
}

.facets .facet .facetHitNumber,
.facets .facet .facetItem {
  margin-top: 5px;
}

.facets .facet .facetItem {
  float: left;
  margin-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 85%;
  text-overflow: ellipsis;
  cursor: pointer;
  //border-bottom: 1px solid rgba(165, 192, 255, 0.5);
}

.facets .facet .facetHitNumber {
  color: rgba(30, 30, 30, 0.5);
}

.facetName {
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.generalInfo {
  margin-top: 5px !important;
  background-color: rgba(233, 233, 233, 1);
  overflow: auto;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
}

.resultMap {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  -webkit-transition: all 500ms ease-out 0s;
  -moz-transition: all 500ms ease-out 0s;
  -o-transition: all 500ms ease-out 0s;
  transition: all 500ms ease-out 0s;
  float: right;
  margin: 0px !important;
  padding: 0px;
  -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
}

.searchMap {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  -webkit-transition: all 500ms ease-out 0s;
  transition: all 500ms ease-out 0s;
  -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
}

.resultMap div {
  display: block;
}

.searchMapContainer {
  position: absolute;
  display: block;
  top: 0px;
  width: auto;
  left: 0px;
  height: auto;
  height: 80vh;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.locationSearch {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

.locationSearch span {
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0px solid grey;
  border-radius: 5px;
  padding: 8px 8px 8px 8px;
  font-size: 100%;
  background-color: rgba(30, 30, 30, 0.3);
  color: white;
}

.mapClose {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: block;
  z-index: 1000;
  position: absolute;
  float: right;
  left: calc(80vw + 2px);
  top: calc(0vh - 20px);
}

.mapClose:before {
  left: 7px;
  content: "";
  position: relative;
  display: block;
  height: 20px;
  width: 3px;
  background-color: rgba(30, 30, 30, 0.5);
  transform: rotate(45deg);
}

.mapClose:after {
  content: "";
  display: block;
  position: relative;
  height: 20px;
  width: 3px;
  background-color: rgba(30, 30, 30, 0.5);
  transform: rotate(-45deg);
  top: -20px;
  left: 7px;
}

.searchMapContainer.hidden {
  visibility: hidden;
}

.searchMapContainer.shown {
  visibility: visible;
}

.leaflet-control-container {
  opacity: 0;
}

.mapContainer .leaflet-top.leaflet-left {
  margin-left: 25px;
}

.searchMapContainer .leaflet-control-container {
  -webkit-transition: all 0ms ease-out 0s;
  -moz-transition: all 0ms ease-out 0s;
  -o-transition: all 0ms ease-out 0s;
  transition: all 0ms ease-out 0s;
  opacity: 1;
}

.leaflet-tile-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.resultMap:hover .leaflet-control-container {
  opacity: 1;
}

.pdfTitle,
.resultInfo,
.authorTitle,
.placeTitle {
  display: block !important;
  color: rgba(30, 30, 30, 0.5);
  text-transform: uppercase;
  margin-top: 25px !important;
  font-size: 80%;
}

.pdfTitle:first-child {
  margin-top: 0px !important;
}

.pdfName,
.resultDate,
.resultPlace,
.authorName {
  display: block;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.pdf-document {
  position: absolute;
  overflow: auto;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.authorName {
  display: inline-block;
}

.entirePdfLink {
  display: block;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  padding-bottom: 15px;
  padding-right: 10px;
  font-size: 80%;
}

.noShowMap {
  text-align: center;
  margin-top: 105px !important;
}

.mapSearch {
  display: block;
  height: 25px;
  width: 70px;
  text-align: center;
  z-index: 1000;
  position: absolute;
  bottom: -40px;
  margin-left: calc(50% - 35px);
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0px solid grey;
  border-radius: 5px;
  padding: 8px 8px 8px 8px;
  font-size: 100%;
  background-color: rgba(30, 30, 30, 0.3);
  color: white;
  line-height: 8px;
}
